<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean id="menuAction" class="com.sunwah.baseapp.weixin.action.MenuAction">
			<property name="menuService" ref="menuService"></property>
			<property name="weixinMenuService" ref="weixinMenuService"></property>
	</bean>
	
	<bean id="coreAction" class="com.sunwah.baseapp.weixin.action.CoreAction">
			<property name="coreService" ref="coreService"></property>
	</bean>
	
    <bean id="weixinJSSDKAction" class="com.sunwah.baseapp.weixin.action.WeixinJSSDKAction">
			<property name="weixinMediaService" ref="weixinMediaService"></property>
			<property name="weixinAuthorizeService" ref="weixinAuthorizeService"></property>
			<property name="weixinQrCodeService" ref="weixinQrCodeService"></property>
	</bean>
	
</beans>