body{background:#F5F5F5;-webkit-text-size-adjust:none;-webkit-font-smoothing:antialiased}



html, body, div, span, applet, object, iframe,h1,button, input,textarea, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;font-family:"Microsoft Yahei",Verdana,Arial,Helvetica,sans-serif;}



table{border-collapse:collapse;border-spacing:0}



ul,ol,li{list-style:none}



em,i{font-style:normal}



img{border:0}



textarea{outline:none;}



a{text-decoration:none;color:#1155CC;}





.clearfix:after{display:block; content:''; clear:both; visibility:hidden; height:0;}

.clearfix{*zoom:1;}

.hide{display:none;}

.pointer{cursor:pointer;}

.pad15{padding:15px;}

.pad20{padding:20px;}

.red{color:#CC0000;}

.must:before{color:#CC0000;content: "*";}/* color:#CC0000;content: "*"; */

.mLeft12{margin-left:-12px;}

.relative{position:relative;}

.green{color:#228822;}







.fullscreen{margin:0 auto;background:#fff;overflow:hidden;position:relative;}

.module{}

.alert{ border:1px solid #181818; background:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.75)), to(rgba(0,0,0,0.85))); background:-moz-linear-gradient(top,rgba(0,0,0,0.75),rgba(0,0,0,0.85)); position:absolute;  border-radius:4px; z-index:2; font-size:16px; color:#FFF; padding:15px 10px; display:none;}







/**

*icon

*/

.arrowIcon{width:12px; height:12px; display:inline-block; position:relative; background:#fff; margin-left:5px; border-radius:15px; opacity:0.5;}

.arrowIcon:after{content:' '; position:absolute; top:5px; right:2px; width:0; height:0; font-size:0; border:4px solid rgba(255,255,255,0); border-top-color:#F07800;}







/* 

header

*/

.header{position:relative;z-index:2;}



.header .header_bar{height:60px; border-bottom:1px solid #C2DAF7; background:-webkit-gradient(linear, left top, left bottom, from(#29A5DB), to(#00BBFF)); background:-moz-linear-gradient(top, #29A5DB, #00BBFF); position:relative; zoom:1;}



.header .logo{padding-top:5px; padding-left:5px; width:125px; height:50px; position:relative; z-index:101;}

.header .logo a{display:block; background:url(../img/logo1.png) no-repeat; height:100%; text-indent:-1000px; background-size:125px;}



.header .header_btn{position:absolute; top:18px; right:12px;}

.header .header_btn a{width:63px; height:21px; line-height:21px; display:block; float:left; border:1px solid #FFF; color:#FFF; font-size:14px;text-align:center;}

.header .header_btn a:visited{color:#FFFFFE;}

.header .header_btn a:last-child{border-left:0;}



.header .per_login{position:absolute; top:0; right:0; z-index:100; width:100%;}

.header .account{height:60px; line-height:60px; top:0; right:0; max-width:50%; position:absolute; }

.header .per_login .account .per_name{height:60px; color:#fff; font-size:14px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; padding-right:30px; padding-left:10px;}

.header .per_login .account .per_name .arrowIcon{position:absolute; top:25px; right:10px;}

.header .per_login.hover .account .per_name{background:rgba(0,0,0,0.85);}

.header .per_login.hover .account .per_name i:after{border-bottom-color:#000; border-top-color:transparent; top:0px;}



.header .per_login.hover .quick_links{display:block; position:absolute; top:60px; width:100%;}

.header .per_login.hover .quick_links ul{background:rgba(0,0,0,0.85); overflow:hidden;}

.header .per_login.hover .quick_links li{float:left; width:50%; position:relative;}

.header .per_login.hover .quick_links li:nth-child(2n+1):after{content:' '; position:absolute; top:0; right:0; width:1px; height:100%; font-size:0; background:rgba(255,255,255,0.15);}

.header .per_login.hover .quick_links li:last-child{width:100%;}

.header .per_login.hover .quick_links li a{display:block; height:51px; line-height:51px; color:#fff; font-size:18px; border-bottom:1px solid rgba(255,255,255,0.15); padding-left:10px;}

.header .per_login.hover .quick_links li a:visited{color:#FFFFFE;}

.header .per_login.hover .quick_links li span{font-size:14px; float:right; margin-right:12px;}

.header .per_login.hover .quick_links li em{color:#FFA145;}











/* 

menu 

*/

.h_menu{}

.h_menu ul{overflow:hidden;width:100%;}

.h_menu li{float:left; height:35px; line-height:35px; border-bottom:1px solid #C5CACE; width:33%; text-align:center;}

.h_menu li:nth-child(2){width:34%;}

.h_menu li.active{background:#FFF; border-bottom:1px solid #FFF;}

.h_menu li a{display:block; border-left:1px solid #C5CAD0; border-right:1px solid #FFFFFF; border-bottom:2px solid #F4F5F7; line-height:31px; height:31px; color:#424A55; font-size:14px; padding-top:2px;}

.h_menu li a:visited{color:#424A56;}

.h_menu li.active a{border-bottom:0; color:#F06F0D; height:36px; font-weight:bold;}

.h_menu li.active a:visited{color:#F06F0E;}

.h_menu li:nth-child(1) a{border-left:0;}

.h_menu li:nth-child(3) a{border-right:0;}





/* 

footer 

*/

.footer{height:120px; text-align:center; position:relative; z-index:1 ;font-size:14px;}



.footer .footer_t{background:-webkit-gradient(linear, left top, left bottom, from(#AAAAAA), to(#888888));height:28px;line-height:28px;color:#FFF;}



.footer .footer_t .user_info{float:left; margin-left:15px; line-height:28px; height:28px;}

.footer .footer_t .user_info a:nth-child(2){margin-left:10px;}

.footer .footer_t .user_info a:nth-child(3){margin-left:10px;}

.footer .footer_t a{color:#FFF; font-size:14px;}

.footer .footer_t a:visited{color:#FFFFFE;}



.footer .footer_t .gotop{float:right; margin-right:15px; line-height:28px; height:28px; position:relative;}

.footer .footer_t .gotop:before{content:' '; position:absolute; top:10px; right:0; width:0; height:0; font-size:0; border:5px solid #999;border-bottom-color:#FFF;}

.footer .footer_t .gotop:after{content:' '; position:absolute; top:12px; right:0; width:9px; height:0; font-size:0; border-top:1px solid #FFF;}

.footer .footer_t .gotop a{font-size:10px; height:28px; line-height:28px; padding-right:11px; position:relative;}



.footer .footer_l{padding:10px 0;}

.footer .footer_l span{color:#CCC;}

.footer .footer_l a{color:#536d93}

.footer .footer_l a:visited{color:#536d94}

.footer .copyRight{color:#888; line-height:40px;}

.footer .copyRight span:nth-child(2){padding:0 5px;}







/* 

selecter

mask

height:100%;

*/

.mask{width:100%; height:auto; position:absolute; top:0; left:0; background:rgba(51, 51, 51, 0.8); z-index:10; color:#EEE; font-size:16px;}

.mask .f_body{margin-left:40px; background:#333; height:100%; float: right; overflow: hidden; background: none repeat scroll 0% 0% transparent; width:280px;}



.mask .f_left .arrow_icon{width:24px; height:24px; overflow:hidden; cursor:pointer; position:absolute; right:285px;}

.mask .f_left .arrow_icon i{-webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -o-transform:rotate(45deg); transform:rotate(45deg); border:#FFFFFF solid; border-width:3px 3px 0 0; width:13px; height:13px; position:absolute; top:1px; left:5px;}

.mask .f_left .arrow_icon i:nth-child(2){left:-5px;}



.selecter h2{position:fixed; height:40px; width:280px; background:#333; z-index:1000; font-size:18px; line-height:40px; border-bottom:1px solid #292929; text-indent:16px; top:0; right:0; -moz-transform: translate(0px, 0px); -moz-transition-duration: 0.4s; -moz-transition-timing-function: ease; -moz-transform-style: preserve-3d; -moz-backface-visibility: hidden;}

.selecter h2 button{position:relative; overflow:hidden; height:28px; line-height:26px; width:49px; background:-webkit-gradient(linear, left top, left bottom, from(#F76E38), to(#D15321)); float:right; top:0; right:0; color:#FFF; margin-right:7px; margin-top:7px; font-size:14px; text-indent:0; border:1px solid #111; border-radius:3px;}

.selecter h2 button:after{content:' '; position:absolute; top:0px; left:2px; background:#F9915E; width:42px; height:1px;}

.selecter h2 button.clear{background:-webkit-gradient(linear, left top, left bottom, from(#333333), to(#252525));}

.selecter h2 button.clear:after{background:#444444;}



.selecter .contentbody{position:relative; background:#333; margin-top:40px; -moz-transform: translate(0px, 0px); -moz-transition-duration: 0.4s; -moz-transition-timing-function: ease; -moz-transform-style: preserve-3d; -moz-backface-visibility: hidden;}



.selecter .current{line-height:41px; height:41px; padding:0 0 0 35px; border-top:1px solid #4b4b4b; border-bottom:1px solid #292929; position:relative; background:-webkit-gradient(linear, left top, left bottom, from(#444444), to(#3b3b3b));}

.selecter .current:after{-webkit-transform:rotate(135deg); content:' '; position:absolute; top:50%; margin-top:-7px; right:13px; width:6px; height:6px; border:#CFCFCF solid; border-width: 2px 2px 0 0;}

.selecter .current label{line-height:41px; height:41px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; width:100%; display:block; position:relative; z-index:1; padding-right:30px; box-sizing:border-box;}

.selecter input[type="radio"]{position:absolute; top:50%; left:12px; width:16px; height:16px; margin-top:-8px; -webkit-appearance: none; background:url(../../Touch_img/icon.png) no-repeat left bottom; background-size:41px;}

.selecter input[type="radio"]:checked{background-position:right bottom;}



.selecter .lookshow .current:after{-webkit-transform:rotate(315deg); margin-top:-3px;}

.selecter ul{padding:5px 0;}

.selecter li{line-height:40px; height:40px; cursor:pointer; padding:0 15px 0 0; position:relative;}

.selecter li label{padding-left:35px; line-height:40px; height:40px; display:block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

.selecter.filter li label{padding-left:15px;}

.selecter li span{color:#FFA145; font-size:14px; padding-left:5px;}





/* 

operate

*/

.operate_Bar1{height:45px; line-height:45px; background:-webkit-gradient(linear,left top,left bottom,from(#FFFFFF),to(#F8F8F8)); font-size:14px;padding:0 70px; border-bottom:1px solid #E4E4E4; position:relative;}



.operate_Bar1 .text{text-align:center; color:#333; font-size:16px;}



.operate_Bar1 .btn_back_l{position:absolute; top:8px; left:10px; cursor:pointer;}



.operate_Bar1 .filter_icon{position:absolute; top:50%; right:10px; z-index:2; margin-top:-15px;}



.btn_back_l{display:block; height:31px; width:55px;}

.btn_back_l span{float:left; display:inline-block; height:31px; width:16px; overflow:hidden; position:relative;}

.btn_back_l span:after{content:' '; position:absolute; top:-21px; left:15px; height:70px; width:70px; border:1px solid #D1D1D1; display:inline-block; -webkit-transform:rotate(-45deg); background:-webkit-gradient(linear, 30% 0,0 30%, from(#FAFAFA),to(#DFDFDF));}

.btn_back_l nav{width:38px; height:29px; line-height:29px; border:1px solid #D1D1D1; float:left; border-left:0; background:-webkit-gradient(linear, left top, left bottom, from(#FAFAFA),to(#DFDFDF)); color:#343434; border-top-right-radius:2px; border-bottom-right-radius:2px; text-indent:2px;}

.btn_back:visited nav{color:#343433;}



.btn_filter{display:block; height:29px; width:29px; background:-webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#DFDFDF)); border:1px solid #D1D1D1; border-radius:2px; position:relative;}

.btn_filter nav{text-indent:-1000px; height:3px; background:#444; line-height:3px; font-size:0; width:17px; position:absolute; top:13px; left:6px; border-radius:10px;}

.btn_filter nav:after{content:' '; position:absolute; top:-5px; left:0; height:3px; background:#444; line-height:3px; font-size:0; width:17px; border-radius:10px;}

.btn_filter nav:before{content:' '; position:absolute; top:5px; left:0; height:3px; background:#444; line-height:3px; font-size:0; width:17px; border-radius:10px;}



.operate_Bar1 .btn_r{position:absolute; top:8px; right:10px; cursor:pointer;}

.operate_Bar1 .btn_r .btn_previous{border-right:0; border-top-right-radius:0; border-bottom-right-radius:0;}

.operate_Bar1 .btn_r .btn_first{color:#9A9A9A;}

.operate_Bar1 .btn_r .btn_next{border-top-left-radius:0; border-bottom-left-radius:0;}

.operate_Bar1 .btn_r .btn_last{color:#9A9A9A;}





/*

input

*/

.input{border:1px solid #777; line-height:18px; height:18px; padding:5px; border-radius:2px; box-shadow:2px 2px 2px #DDD inset;font-size:14px;}

.inputText{border:1px solid #777; line-height:18px; height:18px; padding:5px; border-radius:2px; box-shadow:2px 2px 2px #DDD inset; font-size:14px;width:100%; margin-left:-12px; -webkit-appearance:none;}





/*

btn

*/

.btn_save{padding:0 10px; height:29px; line-height:29px; border:1px solid #D1D1D1; background:-webkit-gradient(linear, left top, left bottom, from(#FAFAFA),to(#DFDFDF)); color:#343434; border-radius:2px; display:block; text-align:center;}

.btn{text-align:center; padding:10px 0 30px 0;}

.btn1_submit{border-radius:2px; width:111px; background:-webkit-gradient(linear,left top,left bottom,from(#FFFFFF),to(#F6F6F6)); border:0; height:31px; line-height:31px; font-size:14px; color:#333; border:1px solid #666666; display:inline-block; box-shadow:0 1px 3px #BEBEBE; cursor:pointer;}

.btn2_submit{border-radius:2px; width:200px; background:-webkit-gradient(linear,left top,left bottom,from(#FFFFFF),to(#F6F6F6)); border:0; height:31px; line-height:31px; font-size:14px; color:#333; border:1px solid #666666; display:inline-block; box-shadow:1px 1px 3px #BEBEBE; text-shadow:0 1px 1px #FFF;}

.btn2_submit.green{background:-webkit-gradient(linear,left top,left bottom,from(#FFFFFF),to(#E1FFCD)); border:1px solid #60B14A; color:#276405;}





/*

select

*/

.selectOption{display:inline-block; height:24px; background:-webkit-gradient(linear,left top, left bottom, from(#F4F4F4),to(#C5C5C5)); vertical-align:middle; position:relative; border-radius:2px; overflow:hidden;}

.selectOption:before{content:' '; position:absolute; top:0; right:0; width:24px; height:24px; background:-webkit-gradient(linear,left top, left bottom, from(#555555),to(#121212)); border-top-right-radius:2px; border-bottom-right-radius:2px; border-left:1px solid #3A3A3A;}

.selectOption:after{content:' '; position:absolute; top:9px; right:7px; width:0; height:0; font-size:0; border:6px solid rgba(255,255,255,0); border-top-color:#FFF;}

.selectOption select{float:left; position:absolute; top:0; right:0; z-index:2; padding:0; border:0; -webkit-appearance:none; width:100%; background:transparent; height:24px; text-indent:5px; font-size:12px;}

.selectOption select option{font-size:12px;}





/*

textArea

*/

.textAreaMsg{border:1px solid #777; line-height:18px; height:54px; padding:5px; border-radius:2px; box-shadow:2px 2px 2px #DDD inset; font-size:14px; width:100%; margin-left:-12px; vertical-align:middle; margin-top:3px; margin-bottom:3px; -webkit-appearance:none;}





/*

input radio

*/

.inputRadio{position:absolute; top:50%; left:100px; width:16px; height:17px; opacity:0; z-index:1; margin-top:-8px;}

.inputRadio:checked + label:after{background-position:0 -50px;}

.inputRadio + label{width:17px; height:17px; background:url(../../Touch_img/icon1.png) no-repeat 0 -25px; background-size:150px 150px; display:inline-block; vertical-align:middle; margin-right:5px;}

.inputRadio:checked + label{background-position:0 -50px;}





/*

input checkbox

*/

.inputCheckbox{ display:inline-block; position:relative;}

.inputCheckbox input[type="checkbox"]{position:absolute; top:0; left:0; opacity:0; width:18px; height:18px;}

.inputCheckbox label{ height:18px; line-height:18px; padding-left:22px; background:url(../../Touch_img/icon1.png) no-repeat 0 -74px;background-size:150px 150px; display:block;}

.inputCheckbox input:checked + label{background-position:0 -99px;}

input[type="checkbox"].inputCheckbox{width:18px; height:18px; background:url(../../Touch_img/icon1.png) no-repeat 0 -74px; background-size:150px 150px; vertical-align:middle; -webkit-appearance: none;}

input[type="checkbox"].inputCheckbox:checked{background-position:0 -99px;}





/**

*camera

*/

i.camera{width:26px; height:26px; background:#3FA922; display:inline-block; vertical-align:middle; border-radius:15px; border:2px solid #FFF; box-shadow:0 0 5px #BBBBBB; margin-right:2px; position:relative;}

i.camera em{width:16px; height:12px; position:absolute; top:7px; left:5px; background:#FFF; display:block; border-radius:2px;}

i.camera em:after{content:''; position:absolute; top:50%; left:50%; width:4px; height:4px; margin-top:-4px; margin-left:-4px; display:block; border-radius:5px; border:2px solid #3FA922;}

i.camera em:before{content:''; position:absolute; top:-1px; left:3px; width:3px; height:2px; display:block; border-radius:2px; background:#FFF;}



i.camera-disabled{width:26px; height:26px; background:#DDD; display:inline-block; vertical-align:middle; border-radius:15px; border:2px solid #FFF; box-shadow:0 0 5px #DDD; margin-right:2px; position:relative;}

i.camera-disabled em{width:16px; height:12px; position:absolute; top:7px; left:5px; background:#FFF; display:block; border-radius:2px;}

i.camera-disabled em:after{content:''; position:absolute; top:50%; left:50%; width:4px; height:4px; margin-top:-4px; margin-left:-4px; display:block; border-radius:5px; border:2px solid #DDD;}

i.camera-disabled em:before{content:''; position:absolute; top:-1px; left:3px; width:3px; height:2px; display:block; border-radius:2px; background:#FFF;}







/* 

pagenav_wrapper

*/

.pagenav_wrapper{position:relative; height:24px; padding:18px 10px;}

.pagenav_wrapper .previous_next{height:24px; line-height:24px; color:#BBBBBB;}

.pagenav_wrapper .previous_next span{display:none;}

.pagenav_wrapper .previous_next span{padding:0 10px;}



.pagenav_wrapper .previous_next a{color:#333; display:inline-block; width:67px; height:22px; line-height:22px; border:1px solid #C3C2CA; border-radius:3px; text-align:center; font-size:12px; box-shadow:0 1px 2px #EFEFED; margin-right:5px; background:-webkit-gradient(linear, left top, left bottom, from(#FAFAFA),to(#DFDFDF));}

.pagenav_wrapper .previous_next a.first{color:#AAA;}

.pagenav_wrapper .previous_next a.last{color:#AAA;}





.pagenav_wrapper .jump{width:80px; position:absolute; top:18px; right:10px;}

.pagenav_wrapper .jump div{height:24px; line-height:24px; font-size:12px; padding:0 5px;}

.pagenav_wrapper .jump .gotoPage{opacity:0;}







.error_date{font-size:14px; padding-top:60px; padding-bottom:80px;}

.error_date .error_img{width:100px; height:100px; margin:0 auto; border:6px solid #E7E7E7; border-radius:100px; font-size:76px; text-align:center; color:#E7E7E7; box-shadow:0 -1px #BCBABA,0 -1px #BCBABA inset; text-shadow:0 -1px #BCBABA;}

.error_date .error_msg{text-align:center; color:#888; padding-top:30px;}





.btn_apply1{height:28px; line-height:28px; width:80px; border:0; border-radius:2px; padding:0; position:relative; background:-webkit-gradient(linear,left top,left bottom,from(#29A5DB),to(#00BBFF)); color:#FFF; font-size:14px; box-shadow:1px 1px 1px rgba(0,0,0,0.4); text-shadow:0 -1px 1px #D65900; margin-right:5px;}

.btn_apply2{height:28px; line-height:28px; width:110px; border:0; border-radius:2px; padding:0; position:relative; background:-webkit-gradient(linear,left top,left bottom,from(#29A5DB),to(#00BBFF)); color:#FFF; font-size:14px; box-shadow:1px 1px 1px rgba(0,0,0,0.4); text-shadow:0 -1px 1px #D65900; margin-right:5px; display:inline-block; text-align:center;}

.btn_favorites1{height:28px; width:80px; line-height:28px; border:0; border-radius:2px; padding:0; position:relative; background:-webkit-gradient(linear,left top,left bottom,from(#FBFBFD),to(#CDD1D4)); color:#333; font-size:14px; box-shadow:1px 1px 1px rgba(0,0,0,0.4); text-shadow:0 1px 1px #E7E8EA;}

.btn_apply3{height:28px; line-height:28px; width:75px; border:0; border-radius:2px; padding:0; position:relative; background:-webkit-gradient(linear,left top,left bottom,from(#29A5DB),to(#00BBFF)); color:#FFF; font-size:14px; box-shadow:1px 1px 1px rgba(0,0,0,0.4); text-shadow:0 -1px 1px #D65900; margin-right:5px; display:inline-block; text-align:center;}









/*

hr_filter

*/

.hr_filter{height:100%; width:120px; position:absolute; top:0; right:0; background:#222; z-index:0; font-size:16px; position: relative; transform: translate(0px, 0px); transition-duration: 0.4s; transition-timing-function: ease; transform-style: preserve-3d; backface-visibility: hidden;}

.hr_filter:after{content:' '; position:absolute; top:0; left:0; width:10px; height:100%; background:background:-webkit-gradient(linear, left top, right top, from(rgba(9,9,9,1)), to(rgba(9,9,9,0)));}

.hr_filter dl{padding-left:10px;}

.hr_filter dt,

.hr_filter dd{border-top:1px solid #303030; border-bottom:1px solid #111111; height:35px; line-height:35px; font-size:16px;color:#FFF;}

.hr_filter dd a{display:block;color:#FFF;}

.hr_filter dd a:visited{color:#FFFFFE;}

.hr_filter dt{font-size:18px;}





.hr_more{height:35px; line-height:35px; margin-bottom:1px; text-indent:10px;}





